@import "../variables";

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  height: 36px;
  background-color: $primary;
  color: $onPrimary;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 8px;
  font: inherit;
  line-height: inherit;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  color: $disabled;
}
