@import "../styles/variables";

.videoRoot {
  flex: 4;
  padding-top: 37.5%;

  @media (max-width: 1200px) {
    padding-top: 40%;
  }

  @media (max-width: 900px) {
    padding-top: 56.25%;
  }
}

.optionsContainer {
  flex: 1;
}

.spinner { 
  vertical-align: middle;
}

.numberInput {
  border: 2px solid $mdc-theme-primary;
  border-radius: 5px;
}
