$mdc-theme-primary: #bb86fc;
$mdc-theme-primary-variant: #3700b3;
$mdc-theme-on-primary: #000;

$mdc-theme-secondary: #03dac6;
$mdc-theme-on-secondary: #000;

$mdc-theme-background: #121212;
$mdc-theme-on-background: rgba(255, 255, 255, .87);

$mdc-theme-surface: #121212;
$mdc-theme-on-surface: rgba(255, 255, 255, .87);
