$primary: #bb86fc;
$primaryVariant: #3700b3;
$onPrimary: #000;

$secondary: #03dac6;
$onSecondary: #000;

$background: #121212;
$onBackground: rgba(255, 255, 255, .87);

$surface: #121212;
$onSurface: rgba(255, 255, 255, .87);

$medium: rgba(255, 255, 255, .60);
$disabled: rgba(255, 255, 255, .38);
