.player {
  max-height: 500px;

  @media (max-width: 900px) {
    max-height: 400px;
  }

  @media (max-width: 600px) {
    max-height: 300px;
  }
}

.optionsContainer {
  max-width: 320px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}
